---
layout: default
title: Blog
---

<div class="posts">
  <div class="container">
    I mostly use this blog as a way to teach some of the underlying math that
    occurs 'under the hood' when a statistical model is fit to data with a
    little more detail (i.e., steps) than I've seen elsewhere. This should
    (hopefully) make it a little easier to understand and interpret the output
    of a given model when conducting different analyses.
  </div>
  {% for post in site.posts %} {% if post.category contains 'blog' %}
  <article class="post">
    <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
  </article>
  {% endif %} {% endfor %}
</div>
